'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'space w 2': 'pane:split-right-and-copy-active-item'
  'space w w': 'window:focus-next-pane'
  'space w d': 'tabs:close-tab'

  'space f s': 'core:save'
  'space f f': 'advanced-open-file:toggle'
  'space space': 'command-palette:toggle'
  'space b b': 'fuzzy-finder:toggle-buffer-finder'

'.advanced-open-file':
  'ctrl-h': 'advanced-open-file:delete-path-component'

'atom-workspace':
  'ctrl-g': 'core:cancel'
  'ctrl-p': 'core:move-up'
  'ctrl-n': 'core:move-down'
  'ctrl-b': 'core:move-left'
  'ctrl-f': 'core:move-right'
  'ctrl-x ctrl-s': 'core:save'

'atom-workspace atom-text-editor':
  'alt-l': 'pane:show-next-item'
  'alt-h': 'pane:show-previous-item'
  'ctrl-d': 'core:delete'

'atom-text-editor.vim-mode-plus.insert-mode':
  'ctrl-o': 'vim-mode-plus:insert-below-with-newline'
  'ctrl-e': 'vim-mode-plus:move-to-last-character-of-line'
  'ctrl-a': 'vim-mode-plus:move-to-first-character-of-line'

'atom-text-editor':
  'alt-,': 'last-cursor-position:previous'
  'alt-.': 'typescript:go-to-declaration'
